.navbar {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  display: flex;
  gap: 40px;

  padding-left: 60px;
  padding-right: 225px;
}

.navbar a {
  color: #424551;
}
